<!-- HEADER -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>Cisco |</title>
    <link rel="shortcut icon" href="https://bnetservice.com.mx/bnetservice.ico" />
    <link
      rel="icon"
      sizes="16x16 32x32 64x64"
      href="https://bnetservice.com.mx/bnetservice.ico"
    />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta
      name="msapplication-config"
      content="https://bnetservice.com.mx/cisco/templates/lagom/assets/img/favicons/browserconfig.xml"
    />
    <link
      href="https://bnetservice.com.mx/cisco/templates/lagom/core/styles/default/assets/css/theme.css?v=1.4.3"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://bnetservice.com.mx/cisco/assets/css/fontawesome-all.min.css"
    />
  </head>
  
  
  
  <body
    class="lagom page-clientareahome page-user-logged"
    data-phone-cc-input="1"
  >
    <div class="app-nav hidden-print">
      
      <section id="header">
        <div class="container">
          <button type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/home" class="logo"
            ><img
              src="https://bnetservice.com.mx/cisco.png"
              title="Cisco"
              alt="Cisco"
          /></a>
          <ul class="top-nav">
            
          </ul>
        </div>
      </section>
  
      <section id="main-menu">
        <nav id="nav" class="navbar navbar-default navbar-main" role="navigation">
          <div class="container">
            <div class="navbar-header">
              Menu
            </div>
  
            <div class="navbar-collapse" id="primary-nav">
                <ul class="nav navbar-nav">
                    
                    <li
                    menuItemName="Home"
                    class="home-item active"
                    id="Primary_Navbar-Home"
                    >
                    <a href="">
                        <i class="fas fa-ticket lm lm-home"></i><span>Home</span>
                    </a>
                    </li>

                    <li menuitemname="About Us" class="  " id="Primary_Navbar-About_Us">
                      <a href="about-us"> <!--Pendiente-->
                          <i class="fas fa-ticket lm lm-envelope"></i><span>About Us</span>       
                      </a>
                  </li>
  
                </ul>
            </div>
              
            <!-- /.navbar-collapse -->
          </div>
        </nav>
      </section>
    </div>
  
  
    <div class="app-main">
      <div class="main-body">
        <div class="container">
          <div class="main-grid row">
            <!-- Pages -->
    
            <!--Main Content-->
  
            <div class="main-content col-sm-12">
                <div class="header-lined text-center m-b-24">
                    <h1>About Us</h1>
                </div>

                <div id="about-us" class="clear">
                    <!-- ####################################################################################################### -->
                    <section id="about-intro" class="clear">
                        <div style="width:800px; margin:0 auto;">
                            <img src="https://cisco.bnetservice.com.mx/Logo.png" alt="">
                        </div>
                      <div class="two_third first">
                        <blockquote>
                          <p><span>&ldquo;</span> Tech team is a development team </p>
                          <p> We work together to create a system that improves the way of analyse the issues in the supply chain.</p>
                        </blockquote>
                        </div>
                      
                    </section>

                    <section id="team">
                      <h2>Team Members</h2>

                      <ul class="clear">
                        <li class="one_third first">
                          <figure>
                            <img src="https://cisco.bnetservice.com.mx/alexis.jpeg" width="140" alt="">
                            <figcaption>
                              <p class="team_name">Echeagaray Santiago Alexis</p>
                              <p class="team_title">Software Engineer</p>
                            </figcaption>
                          </figure>
                        </li>

                        <li class="one_third">
                          <figure><img src="https://cisco.bnetservice.com.mx/javier.jpg" width="140" alt="">
                            <figcaption>
                              <p class="team_name">Ibarra Rosas Javier Emiliano</p>
                              <p class="team_title">Software Engineer</p>
                            </figcaption>
                          </figure>
                        </li>
                        <li class="one_third">
                          <figure><img src="https://cisco.bnetservice.com.mx/adrian.png" width="163" alt="">
                            <figcaption>
                              <p class="team_name">Renteria Rodriguez Adrian Vladimir</p>
                              <p class="team_title">IT Engineer</p>
                            </figcaption>
                          </figure>
                        </li>
                        <li class="one_third">
                          <figure><img src="https://cisco.bnetservice.com.mx/benjamin.jpeg" width="140" alt="">
                            <figcaption>
                              <p class="team_name">Torres Abarca Jesus Benjamin</p>
                              <p class="team_title">Software Engineer</p>
                            </figcaption>
                          </figure>
                        </li>
                      </ul>
                    </section>
                    
                </div>
                
            </div>
            
  
            <!--End of Main Content-->
            
            <!-- Pages -->
          </div>
  
        </div>
  
        <!--Footer-->
  
        <br><br>
        <div class="main-footer hidden-print">
          <div class="container">
            <div class="footer-content">
              <p>Tech Team &copy; 2020 | All rights reserved</p>
            </div>
            <a href="/about-us" class="back-to-top btn btn-sm btn-icon"
              ><i class="lm lm-go-top"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </body>
  
  