<!-- HEADER -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
  />
  <title>Cisco |</title>
  <link rel="shortcut icon" href="https://bnetservice.com.mx/bnetservice.ico" />
  <link
    rel="icon"
    sizes="16x16 32x32 64x64"
    href="https://bnetservice.com.mx/bnetservice.ico"
  />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta
    name="msapplication-config"
    content="https://bnetservice.com.mx/cisco/templates/lagom/assets/img/favicons/browserconfig.xml"
  />
  <link
    href="https://bnetservice.com.mx/cisco/templates/lagom/core/styles/default/assets/css/theme.css?v=1.4.3"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://bnetservice.com.mx/cisco/assets/css/fontawesome-all.min.css"
  />
</head>



<body
  class="lagom page-clientareahome page-user-logged"
  data-phone-cc-input="1"
>
  <div class="app-nav hidden-print">
    
    <section id="header">
      <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/home" class="logo"
          ><img
            src="https://bnetservice.com.mx/cisco.png"
            title="Cisco"
            alt="Cisco"
        /></a>
        <ul class="top-nav">
          
        </ul>
      </div>
    </section>

    <section id="main-menu">
      <nav id="nav" class="navbar navbar-default navbar-main" role="navigation">
        <div class="container">
          <div class="navbar-header">
            Menu
          </div>

          <div class="navbar-collapse" id="primary-nav">
              <ul class="nav navbar-nav">
                  
                  <li
                  menuItemName="Home"
                  class="home-item active"
                  id="Primary_Navbar-Home"
                  >
                  <a href="">
                      <i class="fas fa-ticket lm lm-home"></i><span>Home</span>
                  </a>
                  </li>

                  <li menuitemname="About Us" class="  " id="Primary_Navbar-About_Us">
                      <a href="about-us"> <!--Pendiente-->
                          <i class="fas fa-ticket lm lm-envelope"></i><span>About Us</span>       
                      </a>
                  </li>
              </ul>
          </div>
            
          <!-- /.navbar-collapse -->
        </div>
      </nav>
    </section>
  </div>


  <div class="app-main">
    <div class="main-body">
      <div class="container">
        <div class="main-grid row">
          <!-- Pages -->
  
          <!--Main Content-->

          <div class="main-content col-sm-12">
              <div class="header-lined text-center m-b-24">
                  <h1>Login</h1>
              </div>
              
              <style>
                  .logincontainer {
                    max-width: 400px;
                    margin: auto;
                  }
              </style>

              <div class="logincontainer ">
                  <div class="logincontainer-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                          <div class="form-group">
                              <label for="login">User</label>
                              <input 
                              type="text" 
                              name="User"  
                              placeholder="Username" 
                              formControlName = "user" 
                              class="form-control input-lg"
                              tabindex="1" 
                              required="" 
                              autofocus="">

                          </div>
                          <div class="form-group">
                              <div class="d-flex space-between">
                                  <label for="inputPassword">Password</label>
                                  <a href="forgot-password">Forgot Password?</a>
                              </div>

                              <input 
                              type="text" 
                              name="Password"  
                              placeholder="Password" 
                              formControlName = "password" 
                              class="form-control input-lg"
                              >

                          </div>
                          <div class="form-group">
                              <label class="checkbox m-b-16">
                                  <div class="checkbox-styled"><input class="icheck-control" type="checkbox" name="remember" tabindex="3" id="checkbox-signup" style="position: absolute; top: -40%; left: -40%; display: block; width: 180%; height: 180%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -40%; left: -40%; display: block; width: 180%; height: 180%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>Remember Me</label>
                          </div>
                          <div class="text-center margin-bottom">
                              <!--<a href="/home" class="btn btn-lg btn-primary btn-block">Login</a>-->
                              <input type="submit" value="Login" name="save" class="btn btn-lg btn-primary btn-block">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          

          <!--End of Main Content-->
          
          <!-- Pages -->
        </div>

      </div>

      <!--Footer-->

      <br><br>
      <div class="main-footer hidden-print">
        <div class="container">
          <div class="footer-content">
            <p>Tech Team &copy; 2020 | All rights reserved</p>
          </div>
          <a href="/login" class="back-to-top btn btn-sm btn-icon"
            ><i class="lm lm-go-top"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</body>

